<div style="text-align: center">

  <h1>Angular Learning Topic = Angular Material, Jquery, and Bootstrap</h1>

  
 <br/>

 <h2>Angular Material </h2>

 <br/>

 <mat-slide-toggle></mat-slide-toggle> <br/><br/>

 <mat-checkbox>Check Me</mat-checkbox>

 <br/> <br/>

 <hr>

 <br/> <br/>
 
 <h2> BootStrap </h2>
 <br>

 <h3 class="text-danger">Hello World</h3>

 <input type="submit" class="btn btn-primary" value="Click Me">

 <br/>

 <hr>

 <br/> <br/>

 <h2> Jquery </h2>

 <p>Demonstrate fadeIn() with different parameters.</p>

<button>Click to fade in boxes</button><br><br>

<div id="div1" style="width:80px;height:80px;display:none;background-color:red;"></div><br>
<div id="div2" style="width:80px;height:80px;display:none;background-color:green;"></div><br>
<div id="div3" style="width:80px;height:80px;display:none;background-color:blue;"></div>

<br/>


<div id="flip">Click to slide the panel down or up</div>
<div id="panel">Hello world!</div>

 <br><br>


</div>

















